html {
    box-sizing: border-box;
}

*, *::after, *::before {
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
}

table {
      width: 60%;
      border-collapse: collapse;
      margin: 20px auto;
      font-family: Arial, sans-serif;
    }

    thead {
      background-color: grey;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:nth-child(odd) {
      background-color: #ffffff;
    }


blockquote{
    margin-left: 20px;
    border-left: 3px solid lightgray;
    padding-left: 20px;
}

blockquote p {
    font-style: italic;
}

.center-right {
    text-align: right;
}
